body {
  background-image: url("noita-digital-QZX8jbK1xEw-unsplash.jpg");
  font-family: "Helvetica Neue";
  margin: 0;
  padding: 0;
}
/* Styles the nav bar for the task page */
.defNav {
  background-color: whitesmoke;
  display: flex;
  font-size: 16px;
  height: 45px;
  padding: 8px 16px;
  text-decoration: none;
  width: auto;
}
/* Styles the "home button"(queue) on nav bar */
.navbar-brand {
  color: black;
  font-size: 20px;
  margin: 0px 16px 0px 0px;
  padding: 5px 0px;
  text-decoration: none;
  word-spacing: 13px;
}

/* Changes the appearance of the "home button" when hovering */
.navbar-brand:hover {
  color: grey;
  text-decoration: underline;
  transition: 0.1s ease;
}

/* Styles the navbar login button */
.signup {
  color: gray;
  padding-right: auto;
  text-decoration: none;
}

.signup:hover {
  color: grey;
  text-decoration: underline;
  transition: 0.9s ease;
}

.tasks {
  color: grey;
  text-decoration: none;
}

.tasks:hover {
  color: grey;
  text-decoration: underline;
  transition: 0.9s ease;
}

.list {
  color: white;
  text-align: center;
}
.rightSide {
  float: right;
  margin-left: auto;
  padding-top: 8px;
  text-align: right;
}
