body {
  background-image: url("noita-digital-QZX8jbK1xEw-unsplash.jpg");
  font-family: "Helvetica Neue";
  margin: 0;
  padding: 0;
}
/* login pg nav bar styling */
.loginNav {
  background-color: whitesmoke;
  display: flex;
  font-size: 16px;
  height: 45px;
  padding: 8px 16px;
  width: auto;
}
/* Styles home nav bar link (the "queue button") */
.navbar-brand {
  color: black;
  font-size: 20px;
  margin: 0px 16px 0px 0px;
  padding: 5px 0px;
  text-decoration: none;
}
/* Change appearance of the "home button" when hovered over */
.navbar-brand:hover {
  color: grey;
  text-decoration: underline;
}

/* Styles for the sign up nav bar link */
.signup {
  color: grey;
}

.signup:hover {
  color: black;
  text-decoration: underline;
  transition: 0.9s ease;
}

/* Container for right side nav bar links */
.rightSide {
  float: right;
  margin-left: auto;
  padding-top: 5px;
  text-align: right;
}

/* Login form style */
.logForm {
  backdrop-filter: blur(25px);
  background-color: whitesmoke;
  border-style: inset;
  border-color: silver;
  height: 210px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  margin-top: 200px;
  padding-top: 10px;
  width: 200px;
}
