body {
  background-image: url("noita-digital-QZX8jbK1xEw-unsplash.jpg");
  font-family: "Helvetica Neue";
  margin: 0;
  padding: 0;
}
/* signup pg nav bar styling */
.signUpNav {
  background-color: whitesmoke;
  display: flex;
  font-family: 16px "Helvetica Neue";
  height: 45px;
  padding: 8px 16px;
  width: auto;
}
/* Styles the "home button"(queue) */
.navbar-brand {
  color: black;
  font-size: 20px;
  margin: 0px 16px 0px 0px;
  padding: 5px 0px;
  text-decoration: none;
}
/* Changes the appearance of the "home button" when hovering */
.navbar-brand:hover {
  color: grey;
  text-decoration: underline;
  transition: 0.9s ease;
}

/* The log in navbar link */
.login {
  color: gray;
  padding-right: auto;
  text-decoration: none;
}

.login:hover {
  color: black;
  text-decoration: underline;
  transition: 0.9s ease;
}

/* Container for right side nav bar links  */
.rightSide {
  float: right;
  margin-left: auto;
  padding-top: 5px;
  text-align: right;
}
/* Styles sign up form */
.signForm {
  align-items: center;
  backdrop-filter: blur(55px);
  background-color: whitesmoke;
  border-color: silver;
  border-style: outset;
  height: 450px;
  margin-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 130px;
  padding-top: 20px;
  text-align: center;
  width: 300px;
}
