body {
  background-image: url("noita-digital-QZX8jbK1xEw-unsplash.jpg");
  font-family: "Helvetica Neue";
  margin: 0;
  padding: 0;
}

/* Centering the quote container */
.container {
  color: white;
  margin-top: 300px;
  text-align: center;
}

/* Styles for the nav bar log in link */
#login:hover {
  color: black;
  text-decoration: underline;
  transition: 0.9s ease;
}

/* Styles for the sign up nav bar link */
#signup:hover {
  color: black;
  text-decoration: underline;
  transition: 0.9s ease;
}
